body {
  background-color: white;
  font-size: 16px;
}

h1{
  color: #e10079;
  font-size: 2rem;
}

.text-shadow {
  text-shadow: 1px 1px 3px black;
}

.top-bar {
  padding: 0;
}

.top-bar, .top-bar ul {
  background-color: #060910;
}

.top-bar ul a {
  color: white;
  font-weight:bold;
}

header {
  color: white;
  text-align: center;
  border-bottom: 10px solid #060910;
  padding: 100px 0 70px 0;
  letter-spacing: 1px;
}

header h1 {
  font-size: 30px;
  color: #ed49a0;
  font-weight: bold;
}

header h2 {
  font-size: 20px;
}

header h3 {
  font-size: 22px;
}

header img {
  margin-bottom: 20px;
}

header .button {
  background: #ed49a0;
  font-weight: bold;
  width: 400px;
  font-size: 20px;
  line-height: 200%;
  margin-top: 30px;
  text-transform: uppercase;
  border-radius: 3px;
}

.button:hover {
  background: #e10079;
}

.gradient {
  background-image:
    linear-gradient(
      #060910,#7ea5d7
    );
}

section {
  padding: 20px 0;
}

section.body {
  background-color: white;
}

section.talks {
  background: #060910;
  color: white;
}

section.workshop {
  background: #d9d9d9;
}

section.map {
  background-color: white;
}

iframe{
  width: 100%;
  height: 400px;
}

footer {
  padding-top: 20px;
  background: #060910;
}

footer h1{
  color: #e10079;
  font-size: 24px;
  text-align:center;
}
